<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    
    <ul id="messages"></ul>
    
    <form action="">
      <input id="input" autocomplete="off" autofocus/><button>Send</button>
    </form>

    <script src="bundle.js"></script>
    <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script> 
      var socket = io(); 
      $('form').on('submit', function(){
        var message = $('#input').val();
        socket.emit('message', message);
        $('#input').val('');
        $('#messages').append($('<li>').text(message));
        return false;
      });

      socket.on('message', function(message){
        $('#messages').append($('<li>').text(message));
      });
    </script>
  </body>
</html>
